@use './variables';

footer {
  background-color: variables.$purple;
  color: variables.$white;
  padding: 10px 0;

  p {
    text-align: center;

    span {
      text-transform: uppercase;
      color: variables.$darkOrange;
    }

    a {
      color: variables.$white;
    }

    a:visited {
      // color: variables.$purple;
    }
  }
}