@use './variables';

header {
  background-image: url("./sass/assets/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  // background-attachment: fixed;
  

  .wrapper {
    padding-top: 300px;
    padding-bottom: 200px;
    // height: 100vh;

    h1, h3{
      text-transform: uppercase;
      color: variables.$orange;
      padding-left: 50px;
    }
  }
}