@use './variables';

header {
  background-image: url("./sass/assets/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  height: 100vh;

  .wrapper {
    padding: 200px 0;
    height: 90vh;
    text-align: left;

    h1, h3 {
      text-transform: uppercase;
      color: variables.$darkOrange;
      padding-left: 50px;
    }
  }

  .toContent {
    color: variables.$black;
    position: fixed;
    animation: bounceDown 2s infinite;

    i {
      font-size: 2rem;
      background-color: variables.$white;
      padding-top: 5px;
      width: 50px;
      height: 50px;
      border-radius: 25px;
    }
  }

  @keyframes bounceDown {
    from {
      transform: translateY(-100px);
    }
    to {
      transform: translateY(-75px);
    }
  }
}

.projectPage {
  background-image: none;
  height: auto;
}