@use './variables';

.contact {
  background: linear-gradient(variables.$pink, variables.$purple);

  .content {
    display: flex;

    // Form
    form {
      width: 80%;
      text-align: center;
      margin-right: 50px;
      margin-top: 25px;
      
      .form {
        display: flex;
        flex-wrap: wrap;
        background-color: variables.$blue;
        border-radius: 25px;
        
        .oneInput {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 30px;
          
          input {
            border: none;
            border-bottom: 2px solid variables.$black;
            background-color: variables.$blue;
          }

          textarea {
            border: 2px solid variables.$black;
            background-color: variables.$blue;
            height: 30px;
          }

          input::placeholder, textarea::placeholder {
            opacity: 1;
            color: variables.$white;
          } 
        }
      }

      button {
        background: linear-gradient(variables.$blue, variables.$purple);
        color: variables.$white;
        padding: 20px;
        margin: 20px;
        width: 300px;
        border-radius: 15px;
        cursor: pointer;
      }
    }

    // Other icons
    .connect {
      display: flex;
      flex-direction: column;
      border: none;
      border-radius: 25px;
      height: 250px;
      width: 15%;
      text-align: center;
      background-color: variables.$blue;
      margin-top: 25px;

      a {
        margin: 20px auto;
        width: 50px;
        height: 50px;
        text-decoration: none;
        
        i {
          font-size: 2rem;
          color: variables.$gold;
        }
      }
    }
  }
}