@use './variables';

.skills {
  background-color: variables.$pink;
}

.skillIcons {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 100px;
  justify-content: space-evenly;

  .oneSkill {
    display: flex;
    width: 33%;
    padding: 10px 75px;
    text-align: center;

    .icon {
      width: 100px;
      text-align: center;
      
      i {
        font-size: 3rem;
      }
    }
      
    h4 {
      margin-top: 20px;
      margin-left: 10px;
    }
  }
}