@use './variables';

// Stretch goal???
// .projects {
//   background: linear-gradient(variables.$white, variables.$pink);
// }

.oneProject {
  display: flex;
  margin: 50px 100px;
  border-radius: 20px;
  box-shadow: 0 0 20px variables.$darkOrange;
  background: variables.$purple;
  color: variables.$white;
  
  img {
    width: 50%;
    border-radius: 20px;
  }

  .info {
    padding: 25px;
    width: 50%;
    
    h3, p, .buttons {
      padding: 10px 0;
    }

    p {
      text-align: justify;
    }

    .programmingLanguage {
      padding: 0;
      color: variables.$silver;
    }

    .buttons {
      display: flex;
      
      .button {
        text-decoration: none;
        text-align: center;
        background: linear-gradient(variables.$gold, variables.$darkOrange);
        color: variables.$black;
        padding: 15px;
        margin: 10px 20px 10px 0;
        width: 100px;
        border-radius: 30px;
      }

      #notLive {
        text-decoration: line-through;
      }
    }

    span {
      text-transform: uppercase;
    }
  }
}

.oneProject.imgRight {
    flex-direction: row-reverse;
}