@use './variables';

.about {
  // background: linear-gradient(variables.$purple, #304ffe);

  p {
    text-align: justify;
    border: 5px solid variables.$black;
    border-radius: 15px;
    padding: 25px 50px;
    margin-top: 10px;
  }
} 