@use './variables';

.contact {
  background: linear-gradient(variables.$pink, variables.$purple);

  .content {
    display: flex;

    // Form
    form {
      width: 70%;
      text-align: center;
      margin-right: 50px;
      margin-top: 25px;
      
      .form {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid black;
        background-color: variables.$blue;
        
        .oneInput {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 20px;

          label {
            text-align: left;
            margin-bottom: 10px;
          }
          
          input {
            border: none;
            border-bottom: 1px solid black;
            width: 25vw;
          }
        }
      }

      button {
        background-color: variables.$blue;
        background: linear-gradient(variables.$blue, variables.$purple);
        color: variables.$white;
        padding: 20px;
        margin: 10px 20px;
        width: 300px;
        border-radius: 15px;
        cursor: pointer;
      }
    }

    // Other icons
    .connect {
      display: flex;
      flex-direction: column;
      border: 5px dotted black;
      border-radius: 30px;
      height: 211px;
      width: 25%;
      text-align: center;
      background-color: variables.$blue;
      margin-top: 25px;

      p {
        padding: 20px;
        text-align: left;
      }
      
      a {
        margin: 0 25px;
        width: 50px;
        height: 50px;
        text-decoration: none;
        
        i {
          font-size: 2rem;
          color: variables.$black;
        }
      }
    }
  }
}