@media (max-width: 1400px) {
  header .wrapper {
    height: 100%;
  }
}

@media (max-width: 1200px) {
  header .wrapper {
    padding-top: 200px;
  }

  .oneProject {
    margin: 50px;
  }

  .contact .content .connect a {
    margin: 0 10px;
  }
}

@media (max-width: 1000px) {
  header .wrapper {
    padding: 100px 0;

    h1 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }

  .oneProject {
    margin: 50px 0;
  }

  .skillIcons {
    padding: 15px 50px;
  }

  .contact .content form {
    margin-right: 25px;
  }
}

@media (max-width: 800px) {
  html {
    font-size: 100%;
  }
  
  .skillIcons {
    padding: 15px 0;
  }

  .contact .content .connect a {
    margin: 0;
  }
}

@media (max-width: 600px) {
  header .wrapper {
    padding: 50px 0;

    h1 {
      padding-left: 0;
      font-size: 2rem;
    }
    h3 {
      padding-left: 0;
      font-size: 1rem;
    }
  }

  .about p {
    padding: 25px;
  }

  .oneProject {
    display: block;

    img, .info {
      width: 100%;
    }
  }

  .skillIcons .oneSkill {
    padding: 10px 25px;
  }
}

@media (max-width: 450px) {
  header .wrapper {
    padding: 25px 0;
  }

  .skillIcons {
    display: block;

    .oneSkill {
      width: 100%;
    }
  }

  .contact .content {
    flex-direction: column-reverse;
    
    .connect {
      width: 100%;
      height: 150px;

      a {
        margin: 0 25px;
      }
    }
    
    form {
      width: 100%;
      
      .form{
        
        .oneInput {
          width: 50%;
          
          input {
            width: 100%;
          }
        }
      }
      
      button {
        width: 200px;
      }
    }
  }
}