@use './variables';

// -------------------------
@media (max-width: 1400px) {
  header {
    .menu {
      margin: 0 400px;
    }

    .wrapper {
      height: 100%;
    } 
  }
}

// -------------------------
// Regular screens
@media (max-width: 1200px) {
  header {
    .menu {
      margin: 0 300px;
    }

    .wrapper {
      padding-top: 200px;
    }
  }

  .oneProject {
    margin: 50px;
  }

  .contact .content .connect {
    h3 {
      font-size: 1.25rem;
    }

    .socials a {
      margin: 0 10px;
    } 
  }
}

// -------------------------
@media (max-width: 1000px) {
  header{
    .menu {
      margin: 0 200px;
    }
    
    .wrapper {
      padding: 100px 0;

      h1 {
        font-size: 2.5rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .aboutInfo img {
    width: 200px;
    height: 200px;
    margin-top: 100px;
  }

  .oneProject {
    margin: 50px 0;
  }

  .skillIcons {
    padding: 15px 50px;
  }

  .contact .content form {
    margin-right: 25px;
  }
}

// -------------------------
// Half of my screen size
@media (max-width: 800px) {
  html {
    font-size: 100%;
  }

  header .menu {
    margin: 0 150px;
  }

  .aboutInfo {
    display: block;
    text-align: center;

    img {
      margin: 0;
    }

    p {
      width: 90%;
      margin: 10px auto;
    }
  }
  
  .skillIcons {
    padding: 15px 0;
  }

  .contact .content .connect {
    height: 230px;

    .socials a {
      margin: 0;
    } 
  }
}

// -------------------------
// Tablet / half of usual screen size
@media (max-width: 600px) {
  header {
    .menu {
      margin: 0 50px;

      li {
        padding: 20px 15px;
      }
    }

   .wrapper {
      padding: 50px 0;

      h1 {
        padding-left: 0;
        font-size: 2rem;
      }

      h3 {
        padding-left: 0;
        font-size: 1rem;
      }
    }
  }

  .aboutInfo p {
    padding: 25px;
  }

  .oneProject {
    display: block;

    img, .info {
      width: 100%;
    }
  }

  .skillIcons .oneSkill {
    padding: 10px 25px;
  }

  .contact .content form .form .oneInput input {
    width: 20vw;
  }
}

// -------------------------
// Mobile
@media (max-width: 450px) {
  header {
    // Hamburger menu SOURCE: https://dev.to/ljcdev/easy-hamburger-menu-with-js-2do0
    .menu {
      transform: translateX(-150%);
      transition: transform 0.5s;
    }
    
    .showMenu {
      transform: translateX(0);
    }

    nav .hamburgerMenu {
      display: block;
      margin-left: 10px;
      color: variables.$white;
      border: none;
      cursor: pointer;

      .fa-solid.fa-bars {
        font-size: 2rem;
        padding-top: 10px;
      }
      
      .fa-solid.fa-xmark {
        display: none;
      }
    }

    .wrapper {
      padding: 25px 0;
    } 
  }

  .aboutInfo p {
    text-align: center;
    width: 100%;
    padding: 0;
    border: none;
  }

  .skillIcons {
    display: block;

    .oneSkill {
      width: 100%;
    }
  }

  .contact .content {
    flex-direction: column-reverse;
    
    .connect {
      width: 100%;
      height: 100px;
      display: block;

      a {
        margin: 0 25px;

        i {
          margin-top: 30px;
        }
      }
    }
    
    form, 
    form .form .oneInput, 
    form .form .oneInput input {
      width: 100%;
    }
      
    form button {
      width: 200px;
    }
  }
}