@use './variables';

nav {
  background-color: variables.$purple;
  display: flex;

  .hamburgerMenu {
    display: none;
  }
  
  .menu {
    display: flex;
    margin: 0 450px;
    justify-content: space-evenly;
    width: 100%;
    
    li {
      list-style: none;
      padding: 20px;
      
      a {
        color: variables.$white;
        text-decoration: none;
        text-transform: uppercase;
      }

      a:hover, .home {
        text-decoration: underline 3px variables.$darkOrange;
      }
    }
  }
}