@use './variables';

nav {
  background-color: variables.$purple;
  display: flex;

  .hamburgerMenu {
    display: none;
  }
  
  .menu {
    display: flex;
    margin: 0 450px;
    justify-content: space-evenly;
    
    li {
      list-style: none;
      padding: 20px;
      
      a {
        color: variables.$white;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}