@use './variables';

.projectPage {
  background-image: none;
  height: auto;

  .projectsPageHeader {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid;
    border-radius: 10px;

    h2 {
      padding-bottom: 25px;
    }

    p {
      padding-bottom: 10px;
    }
  }
}