// TODO: add font familys
@use './variables';

html {
  font-size: 125%;
}

h1, h2, h3 {
  font-family: variables.$bitter;
}

h4, p, label, button, .button, li, .connect h3 {
  font-family: variables.$poppins;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3, button {
  font-size: 1.5rem;
}

h4, label, .button, .view {
  font-size: 1.25rem;
}