// Colours
$black: black;
$black2: rgba(0, 0, 0, 0.75);
$white: white;
$silver: silver;
$purple: #71499d;
$gold: gold;
$darkOrange: darkorange;
$blue: cornflowerblue;
$pink: pink;

// Fonts
$bitter: 'Bitter', sans-serif;
$poppins: 'Poppins', sans-serif;