// Colours
$black: black;
$white: white;
$silver: silver;
$purple: darkviolet;
$gold: gold;
$darkOrange: darkorange;
$blue: cornflowerblue;
$pink: pink;

// Fonts
$bitter: 'Bitter', sans-serif;
$poppins: 'Poppins', sans-serif;