// Colours
$black: black;
$white: white;
$grey: grey;
$purple: darkviolet;
$gold: gold;
$darkOrange: darkorange;
$blue: cornflowerblue;
$pink: pink;
// https://www.canva.com/colors/color-meanings/burgundy/ - burgundy